@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import './partials/variables';
@import './partials/mixins';
@import './partials/reset';
@import './partials/body';
@import './partials/container';
@import './partials/form-header';
@import './partials/header-container';
@import './partials/user-details';
@import './partials/dog-options';
@import './partials/inputs';
@import './partials/text';
@import './partials/links';

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 7px;
}

hr {
  border: 2px solid $secondary;
  background-color: $secondary;
  border-radius: 5px;
  margin-top: 20px;
}

img {
  max-width: 50%;
  float: right;
}

.image {
  flex-basis: 25%;
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
