@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import "./partials/_reseter.scss";
@import "./partials/_color.scss";
@import "./partials/_body.scss";
@import "./partials/_container.scss";
@import "./partials/_input.scss";
@import "./partials/_form-header.scss";
@import "./partials/_header-container.scss";
@import "./partials/_img.scss";
@import "./partials/_user-details.scss";
@import "./partials/_hr.scss";
@import "./partials/_text.scss";
@import "./partials/_success.scss";

.padding {
  padding-top: 20px;
}

.dog-options-container {
  display: flex;
}

.dog-breed-container {
  width: 50%;
}

.dog-type-container {
  flex-grow: 1;
}

.padding-bottom {
  padding-bottom: 7px;
}

.link-color {
  color: $link-color;
}

.center-align {
  text-align: center;
}

#home-link {
  text-decoration: none;
}

#home-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
