@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import "./partials/_variables.scss";
@import "./partials/_mixins.scss";
@import "./partials/_container.scss";
@import "./partials/_form-header.scss";
@import "./partials/_header-container.scss";
@import "./partials/_user-details.scss";
@import "./partials/_dog-options.scss";
@import "./partials/_inputs.scss";
@import "./partials/_text.scss";
@import "./partials/_links.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  background-color: $primary;
}

.padding-top {
  padding-top: 20px;
}

.padding-bottom {
  padding-bottom: 7px;
}

hr {
  border: 2px solid $secondary;
  background-color: $secondary;
  border-radius: 5px;
  margin-top: 20px;
}

img {
  max-width: 50%;
  float: right;
}

.image {
  flex-basis: 25%;
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
