@import "/assets/css/partials/variables";
@import "/assets/css/partials/mixins";

.form-header {
  background-color: $header-color;
  margin-top: 100px;
  border: 2px solid $header-color;
  @include formBorderTopRadius($default-radius);
}
