@import "../partials/_color.scss";

$default-width: 100%;

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  width: $default-width;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: $default-width;
  background-color: $secondary;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid $secondary;
  box-shadow: 0 0 10px #719ece;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: $secondary;
}
