@import './variables';

.header-text {
  padding: 20px;
  font-size: 18px;
  color: $white;
}

.white-text {
  color: $white;
}

.required {
  color: $danger;
}

// Success Page Text
.success-p {
  font-size: 20px;
}

#success-icon {
  font-size: 100px;
}

.success-color {
  color: $success;
}
