@import "../partials/_color.scss";

.user-details {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: 2px solid $white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 100px;
}
