@import './variables';
@import './mixins';

.user-details {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: 2px solid $white;
  @include formBorderBottomRadius($default-radius);
  margin-bottom: 100px;

  #description {
    font-size: 20px;
  }
}
